.cycle-icon icon{
    width:35px;
}

.cycle-icon{
    width:60px;
    aspect-ratio:1;
}

#cycleCards{
    position:relative;
}

.cycle-card .line{
    top: 30px;
    z-index: -1;
    right:0px;
    width:100%
}

.cycle-card:first-child .line{
    width:50%;
}

.cycle-card:last-child .line{
    right:unset;
    left:0px;
    width:50%;
}

@media (max-width: 991px){

.cycle-card:nth-child(even) .line{
    width:50%;
    left:0px;
    right:unset;
}

.cycle-card:nth-child(odd) .line{
    left:unset;
    right:0px;
    width:50%;
}
}

