@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;

#st-blog-hero {
    min-height: 500px !important;
    margin-bottom: 2rem;
}

#descriotion-blog .image-blog{
    aspect-ratio: 2/1;
}

#descriotion-blog .number{
    width: 30px;
    height: 29px;
}