@use "../../../../system/sass/global-functions/_icon-size" as *;
@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_dims" as *;
@use "../../../base/_commons" as *;

.icon-box {
    font-size: $common-icon;
    padding: get-space(4);
    color: get-color("on-primary");
    background-color: get-color("specific");
    border-radius: get-size-value($border-radius, "full");
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}