.transition {
    transition: 0.3s 0s linear;
}

body {
    background: var(--bs-background);
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.section-hero {
    min-height: 500px !important;
    margin-bottom: 2rem;
    position: relative;
    background-color: var(--bs-dark) !important;
    z-index: 10;
}

.section-hero::after {
  content: "";
  bottom: 0px;
  right: 0%;
  position: absolute;
  background-repeat: repeat;
  background-size: 100% 100%, 15px 17px;
  width: 40%;
  height: 100%;
  background-image: linear-gradient(-45deg, transparent 20%, rgb(0, 0, 0) 75% 100%), radial-gradient(rgba(254, 191, 1, 0.368627451) 10%, rgba(254, 191, 1, 0) 10% 100%);
  z-index: -1;
}
