.pricing-table .icon{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-icon);
}

.pricing-table-defult:hover{
    background-color: #FEBF01 !important;
    border: 1px solid #FEBF01 !important ;
}