<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tab</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-on-primary-color w-100 h-100 d-flex align-items-center justify-content-center">
    <!-- start tab -->

<div class="tab">

    <div class="tab-list" role="tablist">

        

            <button class="tab-item active" type="button" role="tab"
                data-tab="all" aria-selected="true">
                ALL
            </button>

            

            <button class="tab-item " type="button" role="tab"
                data-tab="residential" aria-selected="false">
                RESIDENTIAL
            </button>

            

            <button class="tab-item " type="button" role="tab"
                data-tab="commercial" aria-selected="false">
                COMMERCIAL
            </button>

            

            <button class="tab-item " type="button" role="tab"
                data-tab="industrial" aria-selected="false">
                INDUSTRIAL
            </button>

            

            <button class="tab-item " type="button" role="tab"
                data-tab="interior" aria-selected="false">
                INTERIOR
            </button>

            

    </div>

    <div class="tab-content">

        <div class="tab-panel active" data-tab-content="all">
            <h3>All Content</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod amet mollitia, dolorum reiciendis ipsam ipsa optio officia tempora dolore quo laudantium adipisci cumque, ab consequatur, vero eligendi animi natus veritatis.
            </p>
        </div>

        <div class="tab-panel" data-tab-content="residential">
            <h3>Residential Content</h3>

            <div class="card">
                Residential Content
            </div>
        </div>

        <div class="tab-panel" data-tab-content="commercial">
            <h3>Commercial Content</h3>
        </div>

        <div class="tab-panel" data-tab-content="industrial">
            <h3>Industrial Content</h3>
        </div>

        <div class="tab-panel" data-tab-content="interior">
            <h3>Interior Content</h3>
        </div>

    </div>

</div>

<!-- end tab --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>