<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class=" w-100 h-100 d-flex align-items-center justify-content-center">
    <!-- start view -->

<div
    class="view"
    data-view-value="120"
    data-view-suffix="+"
>
    <span class="view-value">
        120+
    </span>
</div>

<!-- end view --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>