<!DOCTYPE html>
<html dir="rtl" lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/components.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body class="font-fa-primary bg-background">
<div class="w-30">
    <div class="account-features d-flex flex-column align-items-start gap-4 w-100 px-8 py-6">
    <div class="line mb-4"></div>
    <h2 class="fw-bold ">آینده خود را با بیلدورا بسازید</h2>
    <span class="fs-big">با ایجاد حساب کاربری، به امکانات اختصاصی دسترسی داشته باشید و پروژه‌های خود را به‌راحتی مدیریت کنید.</span>
    <div class="d-flex flex-column align-items-start gap-8 mt-5">
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="./assets/media/images/fa/components/icon1.png" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold">مدیریت پروژه‌های شما</h4>
                <span class="fs-normal">تمام پروژه‌های ساختمانی خود را در یک مکان سازماندهی و پیگیری کنید.</span>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center gap-4">
            <img src="./assets/media/images/fa/components/icon2.png" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold">دریافت پیشنهاد قیمت اختصاصی</h4>
                <span class="fs-normal">برای پروژه‌های آینده خود درخواست قیمت اختصاصی ثبت کرده و آن‌ها را ذخیره کنید.</span>
            </div>
        </div>
        
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="./assets/media/images/fa/components/icon3.png" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold">به‌روزرسانی پروژه‌ها</h4>
                <span class="fs-normal">به‌صورت لحظه‌ای از آخرین تغییرات و اعلان‌های مهم پروژه‌های خود مطلع شوید.</span>
            </div>
        </div>
        
        <div class="d-flex flex-row align-items-center gap-4">
            <img src="./assets/media/images/fa/components/icon4.png" class="icon bg-white rounded-1 px-2 py-2">
            <div class="d-flex flex-column align-items-start">
                <h4 class="fs-title fw-bold">همکاری تیمی</h4>
                <span class="fs-normal">اعضای تیم خود را دعوت کرده و به‌صورت یکپارچه روی پروژه‌ها همکاری کنید.</span>
            </div>
        </div>
    </div>
</div></div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>
