@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_commons" as *;

/* btn basic */

.nav-item {
    font-size: get-font-size("body");
    color: get-color("secondary");
    transition: $common-transition color;

    &:hover {
        color: get-color("primary");
    }
}