@use "../../../../../system/sass/global-functions/_font" as *;
@use "../../../../../system/sass/global-functions/_commons" as *;
@use "../../../../../system/sass/global-functions/_colors" as *;
@use "../../../../base/_commons" as *;

.title {
    font-size: get-font-size("title");
    text-transform: capitalize;
    color: get-color("title-text");
    font-weight: get-font-weight("bold");
}