@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_commons" as *;
@use "../../../base/_dims" as *;

.our-service {
    max-width: 420px;

    & .our-service-item {
        .txt-size-body, &:hover i{
            transition: $common-transition;
        }

        &:hover .txt-size-body, &:hover i {
            color: get-color("primary");
        }
    }

}