.core-services-card .img-size{
    width: 70px;
    aspect-ratio: 1;
}

.core-services-card .card-button i, .core-services-card .card-button span{
    color: var(--primary) !important;
    
}


.core-services-card:hover {
  box-shadow: 0px 0px 10px 3px var(--bs-primary-light) !important;
}