@use "../../../../../system/sass/global-functions/_font" as *;
@use "../../../../../system/sass/global-functions/_commons" as *;
@use "../../../../../system/sass/global-functions/_colors" as *;
@use "../../../../base/_commons" as *;

.description {
    font-size: get-font-size("body-sm");
    text-transform: capitalize;
    color: get-color("text");
    font-weight: get-font-weight("regular");
}

.description-secondary {
    font-size: get-font-size("body-sm");
    text-transform: capitalize;
    color: get-color("on-secondary");
    font-weight: get-font-weight("regular");
}