@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#about-us .hero {
    background-image: linear-gradient(to right, rgba(15, 18, 22, 0.78) 0%, rgba(15, 18, 22, 0.52) 35%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%), url("../media/images/en/about-us/photo-1486406146926-c627a92ad1ab.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#about-us .hero a i {
    transition: all 300ms ease-in-out;
}

#about-us .hero a:hover i {
    transform: translateX(0.5rem);
}

#about-us .about::after {
    content: ".";
    z-index: 2;
    bottom: 50%;

}

#about-us .experience-box {
    width: 250px;
    border-bottom-left-radius: 5px;
}

#about-us .wrapper {
    width: 300vw;
} 

#about-us .journey .history-timeline {
    min-width: 800px
}

@media (min-width: 768px) {
    #about-us .wrapper {
        width: 200vw !important;
    }
}

@media (min-width: 992px) {
    #about-us .wrapper {
        width: 200vw !important;
    }
}

@media (min-width: 1200px) {
    #about-us .wrapper {
        width: 100vw !important;
    }
}

@media (min-width: 1400px) {
    #about-us .wrapper {
        width: 80vw !important;
    }
}




