@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;



#ar-project .wrapper div:nth-child(1) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT1.png");
    background-size: 100% 100%;
}
#ar-project .wrapper div:nth-child(3) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT3.png");
    background-size: 100% 100%;
}
#ar-project .wrapper div:nth-child(2) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT2.png");
    background-size: 100% 100%;
}
#ar-project .wrapper div:nth-child(4) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT4.png");
    background-size: 100% 100%;
}
#ar-project .wrapper div:nth-child(5) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT3.png");
    background-size: 100% 100%;
}
#ar-project .wrapper div:nth-child(6) .image {
    background-image: url("../../assets/media/images/en/gallery/ChatGPT6.png");
    background-size: 100% 100%;
}