@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#gallery a:has(>img) {
    height: 250px;
}

#gallery ul {
    margin: 0;
    padding: 0;
}

#gallery .hero {
    background-image: linear-gradient(to right, rgba(15, 18, 22, 0.78) 20%, rgba(15, 18, 22, 0.52) 45%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%),
        url("../media/images/en/gallery/building7.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gallery .project-cta>.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.811)), url("../media/images/en/gallery/building3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gallery img {
    filter: grayscale(0.8);
}

#gallery img:hover {
    scale: 1.3 !important;
    filter: grayscale(0) !important;
}

.transition-400 {
    transition: all 400ms ease-in-out !important;
}
