@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#gallery div:has(>img) {
    height: 250px;
}

#gallery ul {
    margin: 0;
    padding: 0;
}

#gallery .hero {
    background-image: linear-gradient(to right, rgba(15, 18, 22, 0.78) 0%, rgba(15, 18, 22, 0.52) 35%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%),
        url("../media/images/en/gallery/photo-1486406146926-c627a92ad1ab.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gallery .project-cta>.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.811)), url("../media/images/en/gallery/ChatGPT3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}