@use "../../assets/vendors/bootstrap/scss/_functions" as *;

@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#second-demo .hero {
    background-image:linear-gradient(to right, rgba(15, 18, 22, 0.78) 0%, rgba(15, 18, 22, 0.52) 35%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%), url("../../../assets/media/images/en/demo2/ChatGPT1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#second-demo .hero .view {
    transition: all 150ms ease-in-out;
}

#second-demo .hero .view:hover {
    background-color: var(--bs-primary);
    color: var(--bs-black);
}
#second-demo .hero .view i {
    transition: all 150ms ease-in-out;
}

#second-demo .hero .view:hover i {
    color: var(--bs-black) !important;
}


#second-demo .hero .service {
    transition: all 150ms ease-in-out;
}

#second-demo .hero .service:hover {
    background-color: transparent !important;
    color: var(--bs-secondar) !important;
}


#second-demo .hero .wrapper1 {
    animation: move1 20s linear infinite both;
    transform: translateX(0vw);

}

@keyframes move1 {
    0% { transform: translateX(0vw);}
    100% {transform: translateX(100vw);};
}

#second-demo .hero .wrapper2 {
    animation: move2 20s linear infinite both;
    transform: translateX(-100vw);
}

@keyframes move2 {
    0% { transform: translateX(-100vw);}
    100% {transform: translateX(0vw);};
}

#second-demo .wrapper1 img {
  filter: grayscale(1);
}

#second-demo .wrapper2 img {
  filter: grayscale(1);
}


#second-demo .about .contain-img {
    background-image: url("../media/images/en/demo2/ChatGPT6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#second-demo .about .button {
    transition: all 150ms ease-in-out;
}

#second-demo .about .button:hover {
    background-color: transparent !important;
    color: var(--bs-secondar) !important;
}


#second-demo .wrapper1 img {
    width: 100px;
}

#second-demo .wrapper2 img {
    width: 100px;
}
