@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;

#Reviews div:has(>img) {
    height: 250px;
}

#Reviews ul li:checked {
    background-color: red;
}

#Reviews .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.66) , transparent), url("../media/images/en/Reviews/photo-1486406146926-c627a92ad1ab.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#Reviews .project-cta > .container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.811) ), url("../media/images/en/gallery/ChatGPT3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}