@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#Reviews .hero {
    background-image: linear-gradient(to right, rgba(15, 18, 22, 0.78) 0%, rgba(15, 18, 22, 0.52) 35%, rgba(15, 18, 22, 0.18) 65%, rgba(15, 18, 22, 0) 100%), url("../media/images/en/reviews/ChatGPT Image Jul 12, 2026, 03_39_32 AM.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#Reviews .project-cta > .container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.811) ), url("../media/images/en/gallery/ChatGPT3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}