@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#st-blog #descriotion-blog .image-blog{
    aspect-ratio: 2/1;
}

#st-blog #descriotion-blog .number{
    width: 30px;
  height: 29px;
}

ul{
    list-style: none;
}

#st-blog .social i:hover {
    color: var(--bs_primary);
} 


#st-blog .pooular-post img {
    width: 50px;
    aspect-ratio: 1;
}

.primary-hover:hover {
    color: var(--bs-primary) !important;
}
