@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;



#stProject .overview img {
    aspect-ratio: 16/7;
}

#stProject hr {
    background-color: var(--bs-divider);
    width: 10%;
    margin: 0;
    height: 2px;
}

#stProject .hero::after {
    content: "";
  bottom: 0px;
  right: 0%;
  position: absolute;
  background-repeat: repeat;
  background-size: 100% 100%, 15px 17px;
  width: 40%;
  height: 100%;
  background-image: linear-gradient(-45deg, transparent 20%, rgb(0, 0, 0) 75% 100%), radial-gradient(#FEBF015E 10%, rgba(254, 191, 1, 0) 10% 100%);
}

#stProject .list-group li {
    transition: all 300ms ease-in-out;
} 

#stProject .list-group li i {
    transition: all 300ms ease-in-out;
} 

#stProject .list-group li:hover {
    background-color: var(--bs-specific);
} 

#stProject .list-group li:hover i {
    color: var(--bs-primary);
}

#stProject .feature .container {
    background-color: #F4F4F4;
}

#stProject .project-gallery{
    grid-template-columns: repeat(3 , 1fr);
    img{
        min-height: 160px;
    }
}

#stProject .project-gallery img {
    aspect-ratio: 1.5;
}
