@use "../../miz/sass/global-functions/_images" as *;
@use "../../miz/sass/global-functions/_colors" as *;


#teams .hero::after {
  content: "";
  bottom: 0px;
  right: 0%;
  position: absolute;
  background-repeat: repeat;
  background-size: 100% 100%, 10px 12px;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(-45deg, transparent 20%, rgb(0, 0, 0) 75% 100%), radial-gradient(#FEBF015E 10%, rgba(254, 191, 1, 0) 10% 100%);
}

#teams .items {
  margin-top: -50px;
}

#teams .feature .container {
    background-color: #F4F4F4;
}

