<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brief-news</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-center w-100 h-100 d-grid grid-4">
    <!-- ================== BRIEF-NEWS ================== -->
<div class="brief-news div flex-row align-items-center gap-4 p-2">
    <div class="image-box">
        <img src="./assets/media/images/en/demo1/building1.png" alt="article picture">
    </div>
    <div class="d-flex flex-column gap-2">
        <h6 class="txt-transform-uppercase font-weight-bold">10 construction treands shaping the future</h6>
        <div class="d-flex gap-1 font-weight-bold align-items-center">
            <i class="fa-light fa-calendar primary-color common-icon "></i>
            <span class="description txt-transform-uppercase txt-align-justify">may 12, 2026</span>
        </div>
    </div>
</div>
<!-- ================== END BRIEF-NEWS ================== -->
</div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>