<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>call-banner</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-center w-100 h-100 d-grid grid-3">
    <!-- ==================== BANNER ==================== -->
<div id="call-banner" class="div bg-primary-color gap-2 px-5 py-7 common-radius w-100">
    <h6 class="txt-transform-capitalize font-weight-semi-bold">Have a similar project?</h6>
    <h5 class="txt-transform-capitalize font-weight-bold">Let&#39;s Build It Together</h5>
    <a href="./output/en/pages/home-one.html.html" class="btn primary-color bg-secondary-color txt-transform-uppercase">
        <span>get a free quote</span>
        <i class="fa-solid fa-arrow-right primary-color"></i>
    </a>
</div>
<!-- ================== END BANNER ================== -->ِ</div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>