<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome-free-7.3.1-web/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-grid grid-4 gap-4">
    <div class="card-person elevation-md common-radius div p-4 gap-2">
    <div class="position-relative">
        <img class="common-radius image-4xl aspect-ratio-4x3 object-cover radius-br-none radius-bl-none" src="./assets/media/images/en/demo1/building1.png" alt="person1">
        <span class="label-primary position-absolute inset-start-0 m-4">text</span>
    </div>
    <div class="d-flex flex-column gap-3">
        <div class="next-service d-flex gap-1">
            <i class="fa-light fa-calendar text-color"></i>      
            <p class="description txt-transform-uppercase txt-align-justify">may 12, 2026</p>
        </div>
        <h5 class="font-weight-semi-bold">James Anderson</h5>
        <p class="description">Learn how proper planning, scheduling, and resource management lead to successful project delivery.</p>
        <a href="./output/en/pages/home-one.html" class="learn-more div">
            <span>read more</span>
            <i class="fa-solid fa-arrow-right primary-color"></i>
        </a>
    </div>
</div></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>