<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content info</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-on-primary-color w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-4">
    <h6 class="fw-bold on-primary-color">CONTACT INFO</h6>

<ul class="list-unstyled d-flex flex-column gap-2">
    <li class="d-flex gap-2 align-items-baseline w-fit-content">
        <i class="fa-solid fa-location text-primary"></i>
        <div class="d-flex flex-column justify-content-start">
            <span class="">123 Construction Ave,</span>
            <span class="">New York, NY 10001, USA</span>
        </div>
    </li>
    <li class="d-flex gap-2 align-items-baseline w-fit-content">
        <i class="fa-solid fa-light fa-phone text-primary"></i>
        <span class="number">+1 212 555 7890</span>
    </li>
    <li class="d-flex gap-2 align-items-baseline w-fit-content">
        <i class="fa-solid fa-envelope text-primary"></i>
        <span class="">info@Buildora.com</span>
    </li>
    <li class="d-flex gap-2 align-items-baseline w-fit-content">
        <i class="fa-solid fa-clock text-primary"></i>
        <span class="">Mon – Sat: 8:00 AM – 6:00 PM</span>
    </li>
</ul></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>