<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>date-box</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome-free-7.3.1-web/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-center w-100 h-100">
    <div class="date-box d-flex gap-1 align-items-center">
    <i class="fa-light fa-calendar text-color common-icon"></i>      
    <span class="text-color txt-transform-uppercase txt-align-justify"></span>
</div></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>