<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero-topic</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-cente w-100 h-100 bg-secondary-color ">
    <!-- start hero-topic -->

    <div class="d-flex flex-column gap-6">

            <span class="eyebrow">our projects</span>

            <h1 class="hero-title">
                meat our professionals
                <span class="highlight">t.components.title.highlight</span>
            </h1>

            <p class="description">We transform existing spaces with expert renovation and restoration services, blending innovation with proven construction techniques.</p>
        </div>


<!-- end hero-topic --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>