<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how-work-card</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-cente w-100 h-100 d-grid grid-4">
    <!-- ================== HOW-WORK-CARD ================== -->

    <div class="how-work-card div px-6 py-8 bg-specific-color gap-6 align-items-start common-radius">
        <div class="d-flex flex-column gap-4">

            <span class="eyebrow">our projects</span>

            <h4 class="font-weight-semi-bold">our projects</h4>
        </div>

        <hr class="horizontal-divider">

        <p class="description">We transform existing spaces with expert renovation and restoration services, blending innovation with proven construction techniques.</p>

        <a href="navigation(lang, 'ar-project')" class="btn btn-primary">
            <span>OUR PROJECTS</span>
            <i class="fa-solid fa-arrow-right"></i>
        </a>

    </div>

<!-- ================== END  HOW-WORK-CARD ================== -->
</div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>