<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>level-process</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 justify-content-center w-fit-content w-100 bg-specific-color h-100 ">
    <!-- start level-process -->

    <div class="level-process d-flex flex-column gap-4">
        <i class="fa-solid fa-building secondary-color bg-on-secondary-color radius-all-full p-4 txt-size-title-sm w-fit-content align-self-center aspect-ratio-1x1 d-flex align-items-center justify-content-center"></i>
        <div class="line-box d-flex align-items-center ">
            <div class="little-line bg-primary-color w-100"></div>
            <div class="circle bg-primary-color p-2 radius-all-full"></div>
            <div class="long-line bg-primary-color w-100"></div>
        </div>
        <div class="d-flex flex-column gap-3 align-items-center">
            <p class="title txt-size-title-sm font">01</p>
            <h6 class="font-weight-bold" >1998 Company Founded</h6>
            <span class="description" >Buildora Construction was established with a vision for excellence.</span>
        </div>
    </div>

<!-- end level-process --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>