<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo-structure</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-flex align-items-center gap-4 bg-secondary-color justify-content-center w-100 h-100">
    <!-- start logo-stracture -->

    <div class="logo-stracture align-items-center d-flex gap-3 p-1">
        <div class="image-box">
            <img src="./assets/media/images/en/logo.webp" alt="logo">
        </div>

        <div class="d-flex flex-column txt-align-justify gap-1">
            <h6 class="on-secondary-color txt-transform-uppercase font-weight-bold">buildora</h6>
            <p class="description-secondary txt-transform-uppercase txt-align-justify">construction</p>
        </div>
    </div>
    

<!-- end logo-stracture --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>