<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quick link</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-on-primary-color w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-4">
    <div class="col-12 col-lg-2 col-sm-6 d-flex flex-column gap-4">

    <h6 class="fw-bold primary-light-color">QUICK LINKS</h6>

    <ul class="list-unstyled d-flex flex-column gap-1">

        <li class="w-fit-content ">
            <a href="./pages/home-one.html" class="text-decoration-none text-reset text-color">Home</a>
        </li>

        <li class="w-fit-content">
            <a href="./pages/about-us.html" class="text-decoration-none text-reset text-color">About Us</a>
        </li>

        <li class="w-fit-content">
            <a href="./pages/ar-services.html" class="text-decoration-none text-reset text-color">Services</a>
        </li>

        <li class="w-fit-content">
            <a href="./pages/ar-project.html" class="text-decoration-none text-reset text-color">Projects</a>
        </li>

        <li class="w-fit-content">
            <a href="./pages/our-blog.html" class="text-decoration-none text-reset text-color">Blog</a>
        </li>

        <li class="w-fit-content">
            <a href="./pages/contact-us.html" class="text-decoration-none text-reset text-color">Contact Us</a>
        </li>

    </ul>

</div></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>