<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subscribe</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="d-grid grid-3 align-items-center gap-4 justify-content-center w-100 -100">
    <!-- ================== SUBSCRIBE ================== -->
                
    <div class="subscribe div common-radius bg-secondary-color d-flex flex-column gap-4 align-items-center p-6">
        <i class="fa-light fa-envelope txt-size-title primary-color radius-all-full justify-content-center align-items-center d-flex txt-size-title-sm common-bw border-style-solid border-primary-color p-4 w-fit-content align-self-center aspect-ratio-1x1"></i>
        <h5 class="on-secondary-color txt-transform-captilize txt-align-center">subscribe to our news letter</h5>
        <p class="description-secondary txt-align-center">get the latest updates, insights, and news delivered to your inbox.</p>
        <input type="email" placeholder="enter your email" class="txt-transform-capitalize radius-all-xs p-2 border-fields-color text-fields-color border-color border-style-solid common-border w-100" >
        <a href="navigation(lang, 'home-one.html')" class="btn btn-primary w-100">
            <span class="txt-transform-uppercase">subscribe now</span>
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>

<!-- ================== END SUBSCRIBE ================== -->
</div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>