#featureCard{
    background-color: #F4F4F4;
}

.feature-card{
    border-right: 1px solid #ececec;
    transition: all .3s ease;
}

.feature-card:last-child{
    border-right: 0px;
}

.feature-card:hover{
    transform: translateY(-5px);
}
.feature-icon{
    height:45px;
}


@media (max-width: 767px){

    .feature-card{
        border-right: 0;
        border-bottom: 1px solid #ececec;
    }

    .feature-card:last-child{
        border-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .feature-card{
        border-right: 0;
        border-bottom: 1px solid #ececec;
    }

    .feature-card:nth-last-child(-n+2){
        border-bottom: 0;
    }
}