@use "../../../assets/vendors/bootstrap/scss/mixins/_box-shadow" as *;
.news-box a:hover {
    color: var(--bs-button);
}

.news-box .image {
    background-image: url(../../assets/media/images/components/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
}

.news-box a span:hover {
  color: var(--bs-button) !important;
}

.news-box:hover {
    transform: translateY(-3px);
    box-shadow: var(--bs-box-shadow-lg) !important;
}

.news-box:hover h3 {
    color: var(--bs-primary) !important;
}