.process-timeline .line {
    width: 60px;
    height: 2px;
    border-radius: 100px;
    background-color: var(--bs-primary);
}

.process-timeline .line.little{
    width: 30px;
}

.process-timeline .circle {
    box-sizing: border-box;
    background-color: var(--bs-black);
    border-radius: 50%;
    border: 1px solid var(--bs-primary);
    aspect-ratio: 1;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-timeline .circle>i {
    background-color: var(--bs-white);
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.process-timeline .dot-line{
    height: 0;
    width: 20px;
    border-bottom: 2px dotted var(--bs-primary);
}

.process-timeline .space{
    color: transparent;
    user-select: none;
}

.process-timeline .vertical-dot-line{
    height: 50px;
    width: 0;
    border-left: 2px dotted var(--bs-primary);
    margin-left: 29px;
}