.card-team i {
    width: 30px;
    height: 30px;
    transition: all 150ms ease-in-out;
}

.card-team i:hover {
    color: var(--bs-primary);
}

.card-team:hover {
  box-shadow: 0px 0px 8px 0px #96949470;
}

.card-team .cover {
    background-color: var(--bs-body-bg);
    opacity: 0.7;
    z-index: 5;
    transform: rotateX(90deg);
    transition: all 300ms linear;
}

.card-team:hover .cover {
  transform: rotateX(0deg);
}