@use "../../../assets/vendors/bootstrap/scss/mixins/_box-shadow" as *;
.cycle-icon icon{
    width:35px;
}

.cycle-icon{
    width:60px;
    aspect-ratio:1;
    z-index: 2;
}

#cycleCards{
    position:relative;
}

.cycle-card .line{
    border-top:1px dashed;
    top: 30px;
    z-index: 1 !important;
    right:0px;
    width:100%
}

.cycle-card:first-child .line{
    width:50%;
}

.cycle-card:last-child .line{
    right:unset;
    left:0px;
    width:50%;
}

@media (max-width: 991px){

.cycle-card:nth-child(even) .line{
    width:50%;
    left:0px;
    right:unset;
}

.cycle-card:nth-child(odd) .line{
    left:unset;
    right:0px;
    width:50%;
}
}


.cycle-card:hover .cycle-icon {
    box-shadow: 0px 0px 10px 5px var(--bs-primary-light);
    scale: 1.1;
}

.transition-150 {
    transition: all 150ms ease-in-out;
}

