<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link-box</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-on-primary-color w-100 h-100 d-grid grid-3 gap-4">
    <!-- start link-box -->
<a href="./output/en/pages/home-one.html" class="link-box">
    <i class="fa-solid fa-arrow-right"></i>
</a>
<!-- end link-box --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>