<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav-item</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100vw h-100vh">
<div class="bg-on-primary-color w-100 h-100 d-flex align-items-center justify-content-center gap-4">
    <!-- start nav-item -->
<a class="nav-item" href="./output/en/pages/home-one.html">Home</a>
<!-- end nav-item --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>