@use "../../../../system/sass/global-functions/_image-size" as *;
@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_commons" as *;

.intro-image {
    & img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: $common-border-radius;
    }
}