@use "../../../miz/sass/kernel/responsive/boots/_responsive" as *;
.project-banner {
    background-image: url(../../assets/media/images/components/news.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}
.project-banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #100F0F 0%, transparent 160%);
    right: 0;
}


.project-banner .fancy-link {
    background-image: linear-gradient(90deg ,var(--bs-primary-light) ,var(--bs-primary));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: all 300ms ease;
}

.project-banner:hover .fancy-link {
    background-size: 100% 3px;
}