.review-card-item{
    img{
        width: 50px;
        aspect-ratio: 1;
        object-fit: cover;
    }
    p{
        margin: 0;
    }
    
}

.review-card-quote{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background: #ffb80059;
    border-radius: 50%;
    svg{
        width: 22px;
    /* background: #febf0133; */
    height: fit-content;
    margin-bottom: -7px;
    }
}

.card-review:hover {
    box-shadow: var(--bs-box-shadow-lg) !important;
}