<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form-selector</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-specific-color w-100 h-100 align-items-center justify-content-center gap-4 d-grid grid-3">
    <!-- ================== selector ================== -->

    <div class="d-flex flex-column w-100 gap-1">
        <label class="form-label font-weight-semi-bold">
            Subject<span class="danger-regular-color common-icon">*</span>
        </label>
        <select class="txt-transform-capitalize common-radius p-2 border-fields-color border-style-solid common-bw">
            <option selected="">Select a subject</option>
            <option>Construction</option>
            <option>Interior Design Interior</option>
            <option>Consulting Consulting</option>
        </select>
    </div>

<!-- ================== END selector ================== --></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>