<!DOCTYPE html>
<html dir="ltr" lang="en" class="w-100 h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form-textarea</title>
    <link rel="icon" type="image/png" href="./assets/media/images/en/logo.webp">
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>
<body class="font-roboto w-100 h-100">
<div class="bg-specific-color w-50 h-100 d-flex flex-column align-items-center justify-content-center gap-4">
    <!-- start of textarea-form-->

<div class="d-flex flex-column p-4 gap-1 w-100 h-100">
    <label class="font-weight-semi-bold txt-transform-uppercase">
        message
    </label>
    <textarea type="textarea" placeholder="tell us about your project" class="h-100 txt-transform-uppercase radius-all-xs p-2 border-fields-color text-fields-color border-color border-style-solid bw-2"></textarea>
</div>

<!-- end of textarea-form--></div>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>