.stats-counter.column-style .icon{
    width: 60px;
    aspect-ratio: 1;
}
.stats-counter .hover h4{
    transition: all 200ms linear;
}
.stats-counter .hover:hover h4{
    color: var(--bs-primary);
}