@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_commons" as *;

.project-highlights {
    display: flex;
    flex-direction: column;
    gap: get-space(4);

    padding-top: get-space(4);
    padding-bottom: get-space(8);
    padding-left: get-space(4);
    padding-right: get-space(4);

    background-color: get-color("on-primary");

    border-radius: $common-radius;

    .project-highlights-title {
        margin: 0;

        color: get-color("title-text");

        font-weight: 700;
    }

    .project-highlights-divider {
        width: 50px;
        height: 3px;

        background-color: get-color("primary");
    }

    .project-highlights-list {
        display: flex;
        flex-direction: column;
        gap: get-space(2);

        margin: 0;
        padding: 0;

        list-style: none;

        .project-highlights-item {

            .project-highlights-content {
                display: flex;
                align-items: center;
                gap: get-space(4);

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-shrink: 0;

                    width: 24px;
                    height: 24px;

                    border-radius: 50%;

                    background-color: get-color("primary");
                    color: get-color("on-primary");
                }

                span {
                    color: get-color("title-text");

                    font-size: get-font-size("big");
                    font-weight: 600;
                }
            }
        }
    }
}