.project-card a:hover {
    color: var(--bs-button);
}

.secondary-project-card2{
    .card-button{
        width: 50px;
        aspect-ratio: 1;
        position: relative;
        border: 1px solid var(--bs-primary);
        background-color: #febf0145;

        &:hover{
            background-color: var(--bs-primary);
            i{
                color: #fff !important;
                transform: translateX(50%) translateY(-50%) rotate(-45deg);

            }
        }
        i{
            // color: #000 !important;  
            transform-origin: center;
            position: absolute;
            top: 50%; 
            right: 50%; 
            transform: translateX(50%) translateY(-50%) ;
        }
    }
} 
.secondary-project-card2{
    aspect-ratio: 1/1;
    & > img{
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    & > div{
        background-color: rgb(31 31 31 / 74%);
        backdrop-filter: blur(11px);
    }
}