
       .header .navbar-custom{
            background: var(--bs-black);
            min-height:90px;
        }

        .header {
            position: fixed;
            width: 100%;
            top: 0;
            right: 0;
            z-index: 100;
        }

        .header .navbar-brand{
            display:flex;
            align-items:center;
            gap:12px;
        }

        .header .logo-icon{
            width:45px;
            height:45px;
            border:3px solid #ffc107;
            border-radius:8px;
            display:flex;
            justify-content:center;
            align-items:center;
            color:#ffc107;
            font-size:22px;
        }

       .header  .brand-text{
            line-height:1.1;
        }

        .header .brand-title{
            color:#fff;
            font-weight:700;
            font-size:28px;
            margin:0;
        }

        .header .brand-subtitle{
            color:#ddd;
            font-size:12px;
            text-transform:uppercase;
            letter-spacing:1px;
        }

        .header .navbar-nav .nav-link{
            color:#fff;
            font-weight:600;
            text-transform:uppercase;
            font-size:14px;
            margin:0 12px;
            position:relative;
            transition:.3s;
        }

        .header .navbar-nav .nav-link:hover{
            color:#ffc107 !important;
        }

        .header .navbar-nav .nav-link.active{
            color:#ffc107 !important;
        }

 

        .header .quote-btn{
            background:#ffc107;
            color:#111;
            font-weight:700;
            padding:14px 28px;
            border:none;
            text-transform:uppercase;
            border-radius:4px;
            transition:.3s;
            text-decoration-line: none;
        }

        .header .quote-btn:hover{
            background:#ffca2c;
        }

        .header .navbar-toggler{
            border:none;
        }

        .header .navbar-toggler:focus{
            box-shadow:none;
        }

        .header .navbar-toggler i{
            color:#fff;
            font-size:28px;
        }

        .header .logo {
            width: 100px;
        }

        @media(max-width:991px){

            .header .navbar-collapse{
                background:#111;
                padding:20px;
                margin-top:15px;
            }

            .header .navbar-nav .nav-link{
                margin:10px 0;
            }

           .header  .navbar-nav .nav-link.active::after{
                display:none;
            }

            .header .quote-wrapper{
                margin-top:20px;
            }
        }