@use "../../../../system/sass/global-functions/_icon-size" as *;
@use "../../../../system/sass/global-functions/_image-size" as *;
@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_dims" as *;
@use "../../../base/_commons" as *;

.link-box {
    width: fit-content;
    height: fit-content;
    border-width: $common-border-width;
    border-color: get-color("primary");
    border-style: solid;
    background-color: color-mix(in srgb, get-color("primary") 30%, transparent 100%);
    border-radius: $common-border-radius;
    padding-inline: get-space(4);
    padding-block: get-space(4);
    
    i {
        font-size: get-icon-size("sm");
        color: get-color("primary");
        transform: translateX(0%);
        transition: $common-transition;
    }

    &:hover i {
        transform: translateX(30%);
    }
}