@use "../../../assets/vendors/bootstrap/scss/mixins/_border-radius" as *;
.comment:hover{
    background-color: rgb(30, 29, 21) !important;
    border: 1px solid var(--bs-primary-light) !important;
    color: var(--bs-primary-light) !important;
}

.comment{
    border: 1px solid #4f4d4d !important;
    border-radius: 15px;
}

.transition-300{
    transition: all 300ms ease-in-out;
}
