@use "../../../../../system/sass/global-functions/_font" as *;
@use "../../../../../system/sass/global-functions/_commons" as *;
@use "../../../../../system/sass/global-functions/_colors" as *;
@use "../../../../base/_commons" as *;

.hero-title {
    text-transform: capitalize;
    color: get-color("on-secondary");
    font-weight: get-font-weight("bold");
}

.hero-title .highlight {
    font-size: get-font-size("display");
    color: get-color("primary");
}