$font-family-fa: "vazirmatn";
$font-fa-default: sans-serif, 'Courier New', Courier, monospace;
$font-fa-folder: "Vazirmatn";

@font-face {
    font-family: $font-family-fa;
    font-weight: 900;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 400;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 100;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.eot"),;
}

.font-#{$font-family-fa}{
    font-family: $font-family-fa, $font-fa-default;
}

$font-family-en: "PTSans";
$font-en-default: sans-serif, 'Courier New', Courier, monospace;
$font-en-folder: "PTSans";

@font-face {
    font-family: $font-family-en;
    font-weight: 400;
    src: url("../fonts/#{$font-en-folder}/PTSans-Regular.woff2"),url("../fonts/#{$font-en-folder}/PTSans-Regular.woff"),url("../fonts/#{$font-en-folder}/PTSans-Regular.ttf"),url("../fonts/#{$font-en-folder}/PTSans-Regular.eot"),;
}

.font-#{$font-family-en}{
    font-family: $font-family-en, $font-en-default;
}