$font-family-fa: "vazirmatn";
$font-fa-default: sans-serif, 'Courier New', Courier, monospace;
$font-fa-folder: "Vazirmatn";

@font-face {
    font-family: $font-family-fa;
    font-weight: 100;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Thin.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 200;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraLight.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraLight.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraLight.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraLight.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 300;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Light.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Light.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Light.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Light.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 400;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Regular.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 500;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Medium.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Medium.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Medium.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Medium.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 600;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-SemiBold.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-SemiBold.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-SemiBold.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-SemiBold.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 700;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Bold.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Bold.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Bold.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Bold.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 800;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraBold.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraBold.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraBold.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-ExtraBold.eot"),;
}

@font-face {
    font-family: $font-family-fa;
    font-weight: 900;
    src: url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.woff2"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.woff"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.ttf"),url("../fonts/#{$font-fa-folder}/Vazirmatn-RD-FD-Black.eot"),;
}

.font-#{$font-family-fa}{
    font-family: $font-family-fa, $font-fa-default;
}

$font-family-en: "PTSans";
$font-en-default: sans-serif, 'Courier New', Courier, monospace;
$font-en-folder: "PTSans";

@font-face {
    font-family: $font-family-en;
    font-weight: 400;
    src: url("../fonts/#{$font-en-folder}/PTSans-Regular.woff2"),url("../fonts/#{$font-en-folder}/PTSans-Regular.woff"),url("../fonts/#{$font-en-folder}/PTSans-Regular.ttf"),url("../fonts/#{$font-en-folder}/PTSans-Regular.eot"),;
}

.font-#{$font-family-en}{
    font-family: $font-family-en, $font-en-default;
}