@use "../../../../system/sass/global-functions/_font" as *;
@use "../../../../system/sass/global-functions/_commons" as *;
@use "../../../../system/sass/global-functions/_colors" as *;
@use "../../../base/_commons" as *;

.pagination {
    display: flex;
    align-items: center;
    gap: get-space(2);

    .pagination-item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        padding: 0;

        border-style: solid;
        border-width: $common-border-width;
        border-color: get-color("border-fields");

        border-radius: $common-border-radius;

        background-color: get-color("transparent");
        color: get-color("secondary");

        font-size: get-font-size("subtitle");
        font-weight: 600;

        cursor: pointer;

        transition: $common-transition;

        &:hover {
            background-color: get-color("primary");
            color: get-color("on-primary");
            border-color: get-color("primary");
        }

        &.active {
            background-color: get-color("primary");
            color: get-color("on-primary");
            border-color: get-color("primary");
        }

        // &.pagination-dots {
        //     border-color: transparent;
        //     cursor: default;

        //     &:hover {
        //         background-color: transparent;
        //         color: get-color("secondary");
        //     }
        // }

        &.pagination-next {
            i {
                font-size: get-font-size("body");
            }
        }
    }
}