.project-card a:hover {
    color: var(--bs-button);
}

.project-card .image {
    background-image: url(../../assets/media/images/en/components/news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
}

.project-card .cat-badg{
    color: #fff !important;
    background: #00000094 !important;
    backdrop-filter: blur(9px);
    padding: 9px 15px !important; 
}
.project-card{
    .card-button{
        width: 50px;
        aspect-ratio: 1;
        position: relative;
        border: 1px solid var(--bs-primary);
        &:hover{
            background-color: var(--bs-primary);
            i{
                color: #fff !important;
            }
        }
        i{
            color: #000 !important;  
            position: absolute;
            top: 50%;
            right: 50%; 
            transform: translateX(50%) translateY(-50%);
        }
    }
} 