// number of boxed space around should be equal with break points

$header-horizontal-space: (6, 6, 6, 8, 10, 12);
$header-vertical-space: (0, 0, 6, 8, 10, 10);
$main-horizontal-space: (6, 6, 6, 8, 10, 12);
$main-vertical-space: (6, 6, 6, 8, 10, 10);
$footer-horizontal-space: (6, 6, 6, 8, 10, 12);
$footer-vertical-space: (6, 6, 6, 8, 10, 10);
$block-space: (4, 4, 4, 6, 8, 10);
$grid-gap-space: (6, 6, 4, 6, 8, 10);

$icon-title: 4;
$label-input: 2;
$icon-description: 2;
$title-block-div: 4;
$title-list: 4;
$title-description: 4;
$card-title-description: 2;